

.navbar {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  }

  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    margin-right: 1rem;
  }
  
  .navbar a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 600px) {
    .navbar {
      grid-template-areas: "brand" "links";
      padding: 0.5rem;
    }
    .navbar ul {
      flex-direction: column;
    }
    .navbar li {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
    img.logo {

      height: auto;
    
      max-width: 10%;
    
    }
  }